<div class="navbar-fixed">
  <nav class="cor-primaria">
    <div class="nav-wrapper cor-primaria">

      <a ng-href="#" class="brand-logo">
        <!-- <i class="logo_empresa fas fa-globe"></i> -->
 
        <span class="logo_titulo_empresa">Emprestimo Web</span>
      </a>


      <!-- <ul class="login right  hide-on-med-and-down">
          <li>
            <label>LOGIN </label>
          </li>
          <li>
            <input ng-model="login.username" class="browser-default" placeholder="email" type="email" autofocus>
     

          </li>
          <li>
            <input ng-keyup="$event.keyCode == 13 && rotinaLogin(login)" ng-model="login.password" class="browser-default" placeholder="Senha" type="password" min="8" max="16">
      
          </li>
          <li>
            <button class="btn waves-effect waves-light orange" ng-click="rotinaLogin( login )" name="action" >Entrar </button>
 
          </li>
      </ul> -->

    </div>
  </nav>

</div>