<!-- GRAFICO -->
<!-- <div ng-controller="ChartController" ng-include="'views/chart.html'"></div> -->

<!-- <div class="row center">
    <pre>Em breve estaremos no ar.</pre>
    <h5 class="header col s12 light center">Estamos criando um mini mercado para você comprar e vender seus coins.</h5>
</div> -->
<!-- <div class="center">
    <a href="/sys/#/registrar/usuario" class="chip waves-effect waves-green center orange white-text " >CRIE SUA CONTA GRÁTIS</a>

    <a class="chip waves-effect waves-green center green white-text" ng-href="/sys/#/login">ENTRAR</a>
</div> -->
 
<div class="section">
    <div class="row center">
        <div class="col s12 m12 l12">

            <div class="col s12 m12 l8">
                <h2 class="light center-blue-text"><span>Simples, seguro e fácil de utilizar.</span></h2>
                <div class="row">
                    <div class="row">
                        <span>emprestimo-web Wallet é um aplicativo para gestão simplificado dos seus ativos digitais focando
                            na
                            acessibilidade, segurança e
                            simplicidade.</span>
                        <span>Criamos mecanismos de segurança para a segurar seu investimentos em Bitcoin, Litecoin
                            entre
                            outras moedas digitais.</span>
                    </div>
                    <div class="col section left-align description flow-text">
                        <ul>
                            <li><span>• Enviar e receber coins com toque.</span></li>
                            <li><span>• Aplicativo é rápida, leve e ágil.</span></li>
                            <li><span>• Transferencia e recebimentos simplificado.</span></li>
                            <li><span>• Gerencie suas finanças com agilidade.</span></li>
                        </ul>
                    </div>


                </div>
                <div class="row section">

                    <a href='https://play.google.com/store/apps/details?id=container.emprestimo-web&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img alt='Disponível no Google Play' src='img/logo_play_store.png' />
                    </a>

                    <a href='#' onclick="alert('Aplicativo em fase de homologação pela Apple') ">
                        <img src='https://emprestimo-web.com/img/badge_ios.svg' />
                    </a>

                </div>




            </div>

            <!--  formulario cadastro usuario  -->
            <div ng-controller="HomeController" ng-include="'views/device.html'"></div>
        </div>

    </div>

</div>
<div class="section">

    <div class="row center">
        <div class="col s12 m12 l12">
            <div class="col s12 m4">

                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <i class="fas fa-lock" style="font-size: 50px; color: orange ;"></i>
                                <h5 class="center">Segurança </h5>
                                <p class="light center">
                                    Armazenamos 99% dos coins sob nossa custódia em uma carteira multi-assinada
                                    entre duas empresas.

                                </p>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">

                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <i class="material-icons">contact_mail</i>
                                <h5 class="center">Suporte WhatsApp</h5>
                                <p class="light center"> Estamos atendendo via WhatsApp Business
                                    <span class="green-text">(11) 996868016</span> SãoPaulo-SP.</p>
                                <a href="https://wa.me/5511996868016">
                                    <img src="img/icon_whatsapp.svg">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">

                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <i class="fab fa-slideshare" style="font-size: 50px; color: orange ;"></i>
                                <h5 class="center">Transparência </h5>
                                <p class="light center">
                                    Temos prova de custódia de todos os coins em nossa posse. Você pode
                                    verificar no Blockchain agora mesmo.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <i class="material-icons">credit_card</i>
                            </h2>
                            <h5 class="center">Cryptocurrency Wallet</h5>

                            <p class="light center">Trabalhamos diretamente com acesso a rede blockchain de cada asset,
                                garantindo melhores taxas e segurança
                                extrema com os assets registrados a partir da rede emprestimo-web.</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <a href='https://play.google.com/store/apps/details?id=container.emprestimo-web&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                    <img alt='Disponível no Google Play' src='img/logo_play_store.png' />
                                </a>
                            </h2>
                            <h5 class="center">Android</h5>
                            <p class="light center">Aplicativo emprestimo-web Wallet Android tem acesso as principais
                                moedas virtuais baseadas em blockchain com acesso direto a rede.</p>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content black-text">
                        <div class="icon-block">
                            <h2 class="center light center-blue-text">
                                <a href='#' onclick="alert('Aplicativo em fase de homologação pela Apple') ">
                                    <img src='https://emprestimo-web.com/img/badge_ios.svg' />
                                </a>
                            </h2>
                            <h5 class="center">IOS(breve)</h5>
                            <p class="light center">Aplicativo emprestimo-web Wallet IOS (IPHONE/IPAD) tem acesso as
                                principais moedas virtuais baseadas em blockchain com acesso direto a rede.</p>

                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
    <br>
    <br>
</div>