<!-- The Modal -->
<div id="popUp" class="popup">
  <div class="popup-content">
    <h5>{{popup.title}}</h5>
    <p class="center">{{ popup.msg}}</p>
    <div class="center">
       <a onclick= "popUpSair()"> <span>Entendi!</span></a>
    </div>
  </div>

</div>
<script>

  // modal.style.display = "block";
  function popUpSair() {
     document.getElementById('popUp').style.display = "none";
  }

  window.onclick = function (event) {
    var modal = document.getElementById('popUp');
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }

</script>
<style>
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }


  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
  }


  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>