<main class="container">

    <div class="s12 m12 l10 ">
        <div class="row center">
            <p>Termos gerais de uso do Aplicativo Mobile(ANDROID/IOS)</p>
            <p>ACORDO COM O USUÁRIO</p>
        </div>
        <p>Antes de utilizar os nossos serviços, você deve ler e concordar com os nossos Termos de Uso, Política de
            Direitos
            Autorais e Propriedade Intelectual e Política de Privacidade. </p>
        <p>Ao aceitar se cadastrar em nossa plataforma, você concorda expressamente com os termos aqui expostos. </p>
        <p>Antes de realizar qualquer tipo de transação ou prestar informações através do nosso site, certifique-se que
            os termos
            foram compreendidos e adequados à sua necessidade, e que você tem conhecimento da versão atualizada nos
            termos,
            sempre disponível em nosso site.</p>
        
    </div>
    <div class="row center">
        <span>E-mail para contato:
            <a href="mailto:contato@emprestimo-web.com" rel="noopener noreferrer" target="_blank">contato@emprestimo-web.com</a>.</span>
    </div>
</main>